@import "./reset.css";

:root {
    --app-dark-bg:#1f2227;
    --app-red:#ff3c57;
    --app-yellow:#ffd13c;
    --app-green:#33ab4e;
    --app-green-hover:#158f32;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-pink:#f85fdc;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3b5998;
    --app-blue-hover:#30529c;
    --app-white:#fbfbfb;
    --app-black:#1a1d21;
    --app-dark-grey:#222;
    --app-medium-grey:#b0b3b8;
    --app-light-grey:#e4e6eb;
    --app-light-text-color: #fbfbfb;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;

    --app-btn-height: 46px;
    --app-btn-width: 100%;
    --app-letter-spacing: 0.2px;
    --app-header-line-height: 56px;
    --app-text-line-height: 50px;
    --app-main-font-size: 18px;
    --app-secondary-font-size: 14px;
}
    
body {
    background-color: var(--app-dark-bg);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/
h1, h2, h3, a, p, label {
    color: rgb(244, 246, 248);
}

h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
}

/**************************************************/
/*****       Main                            ******/
/**************************************************/

.flexbox {
    display: flex;
    justify-content: space-between;
}

.center {
    height: 100vh;
    display: grid;
    place-items: center;
}

.center .game-container {
    width: 80%;
    display: grid;
    place-items: center;
}

.center .game-container span.bungee {
    font-family: 'Bungee', cursive;
    font-size: 40px;
}

.center .game-container span.merienda {
    font-family: 'Merienda', cursive;
    font-size: 50px;
}

.center .game-container h1 {
    margin: 20px 0px;
}

.center .game-container .stats {
    width: 100%;
    background-color: rgba(12, 14, 20, 0.8);
    border-radius: 4px;
    margin-bottom: 20px;
}

.center .game-container .stats .hits {
    padding: 20px;
    text-align: left;
    font-size: 20px;
}

.center .game-container .stats .score {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.center .game-container .stats .timer {
    padding: 20px;
    text-align: right;
    font-size: 20px;
}

.center .game-container .word-container {
    width: 100%;
    padding: 20px;
    background-color: rgba(12, 14, 20, 0.8);
    border-radius: 4px;
    font-size: 17px;
    font-weight: 400;
    color: var(--app-white);
    text-align: center;
    display: grid;
    place-items: center;
}

.center .game-container .word-container p {
    font-size: 100px;
    font-weight: 700;
    color: var(--app-white);
    user-select: none;
}

.center .game-container .input-controls {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    place-items: center;
}

.center .game-container .input-controls label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
}

.center .game-container .input-controls input {
    width: 80%;
    height: 100px;
    display: block;
    margin-bottom: 20px;
    padding: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 30px;
    font-weight: 500;
    color: var(--app-white);
    text-align: center;
}

.center .game-container .input-controls button {
    height: 50px;
    display: block;
    border-radius: 50px;
    background-color: var(--app-blue);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: var(--app-white);
    padding: 0px 20px;
}

