@import "./reset.css";

:root {
    --app-dark-bg:#1f2227;
    --app-red:#ff3c57;
    --app-yellow:#F7B538;
    --app-green:#33ab4e;
    --app-green-hover:#158f32;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-pink:#f85fdc;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3b5998;
    --app-blue-hover:#30529c;
    --app-white:#fbfbfb;
    --app-black:#1a1d21;
    --app-dark-grey:#222;
    --app-medium-grey:#b0b3b8;
    --app-light-grey:#e4e6eb;
    --app-light-text-color: #fbfbfb;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;

    --app-btn-height: 46px;
    --app-btn-width: 100%;
    --app-letter-spacing: 0.2px;
    --app-header-line-height: 56px;
    --app-text-line-height: 50px;
    --app-main-font-size: 18px;
    --app-secondary-font-size: 14px;
}

body{
    background: var(--app-dark-bg) url("../images/bg.jpg") center center / cover no-repeat;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}


/**************************************************/
/*****       Main                            ******/
/**************************************************/

.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    height: 100vh;
    /* display: grid;
    place-items: center; */
}

.center .game-container {
    width: 60%;
    display: grid;
    place-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center .game-container .heading {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.center .game-container .heading p.bungee {
    font-family: 'Bungee', cursive;
    font-size: 40px;
    overflow: hidden;
    border-right: 1px solid #ff833cbf;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 6s steps(30, end), blink-caret .75s step-end infinite;
    color: var(--app-orange);
}

.center .game-container .heading p.merienda {
    font-family: 'Merienda', cursive;
    font-size: 50px;
    margin-right: 2px;
    position: relative;
    visibility: hidden;
}

.center .game-container .heading h3 {
    position: relative;
    bottom: 50%;
    visibility: hidden;
    color: var(--app-light-text-color);
}

.center .game-container .game-details {
    border-radius: 50px;
    width: 80%;
    display: grid;
    place-items: center;
}

.center .game-container .game-details .stats {
    display: grid;
    place-items: center;
}

.center .game-container .game-details .stats .timer {
    font-size: 90px;
    color: var(--app-light-text-color);
}

.center .game-container .game-details .stats .timer p span {
    display: none;
}

.center .game-container .game-details .word-container {
    width: 100%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    border: 1px solid var(--app-yellow);
    background-color: rgb(148, 28, 28);
    border-radius: 50px;
    font-size: 17px;
    font-weight: 400;
    color: var(--app-white);
}

.center .game-container .game-details .word-container p.word {
    height: 100px;
    font-size: 60px;
    font-weight: 700;
    color: var(--app-white);
    text-align: center;
    user-select: none;
}

.center .game-container .game-details .word-container .hits {
    text-align: right;
    padding: 0px 20px;
    visibility: hidden;
}

.center .game-container .game-details .word-container .hits p {
    color: var(--app-light-text-color);
}

.center .game-container .game-details .input-controls {
    width: 100%;
    margin-top: 20px;
    display: grid;
    place-items: center;
}

.center .game-container .game-details .input-controls label {
    visibility: hidden;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(244, 246, 248, 0.34);
}

.center .game-container .game-details .input-controls input {
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 20px;
    padding: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(224, 224, 226, 0.96);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 30px;
    font-weight: 500;
    color: #1C1F33;
    text-align: center;
}

.center .game-container .game-details .input-controls input.disabled {
    background-color: rgba(224, 224, 226, 0.227);
}

.center .game-container .game-details .input-controls .btn {
    position: fixed;
    right: -60%;
    bottom: 0;
    height: 50px;
    display: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: var(--app-white);
    padding: 0px 20px;
}
  
.center .game-container .game-details .input-controls .button-glow {
    animation: glowing 5000ms infinite;
}

.center .game-container .game-details .input-controls button.start {
    background-color: var(--app-green);
    display: none;
}

.center .game-container .game-details .input-controls button.restart {
    display: none;
    background-color: var(--app-orange);
}

/**************************************************/
/*****            Score Board                ******/
/**************************************************/

.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 29, 40, 0.5);
    z-index: 10;
    visibility: hidden;
}

.overlay .flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-info {
    width: 500px;
    background-color: var(--app-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    border-radius: 50px;
    z-index: 100;
    animation: appearDown 0.25s ease-out;
    display: none;
}

.score-info .score-details {
    padding: 20px 10px;
    display: grid;
    place-items: center;
}

.score-info .score-details h2 {
    font-size: 30px;
}

.score-info .score-details h2.fail {
    color: var(--app-red);
}

.score-info .score-details h2.pass {
    color: var(--app-orange);
}

.score-info .score-details h2.success {
    color: var(--app-green);
}

.score-info .score-details h2.average {
    color: var(--app-orange);
}

.score-info .score-details .results {
    display: grid;
    place-items: center;
}

.score-info .score-details .results .score {
    display: grid;
    place-items: center;
    margin-bottom: 5px;
}

.score-info .score-details .results .score span {
    font-size: 40px;
    margin-bottom: 5px;
}

.score-info .score-details .results .out-of {
    margin-bottom: 5px;
}

.score-info .score-details .results .date {
    color: rgba(28, 28, 28, 0.22);
}

/**************************************************/
/*****       Animations                      ******/
/**************************************************/

@keyframes appearUp {
    from {
        opacity: 0;
        transform: translate(0px, 10px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes appearDown {
    from {
        opacity: 0;
        transform: translate(0px, -10px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes typing {
    from { 
        width: 0; 
    }
    to { 
        width: 100%;
    }
}

@keyframes fly-in {
    from {
        opacity: 0;
        transform: translate(100%, 0px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px var(--app-yellow); }
    40% { box-shadow: 0 0 20px var(--app-yellow); }
    60% { box-shadow: 0 0 20px var(--app-yellow); }
    100% { box-shadow: 0 0 -10px var(--app-yellow); }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--app-orange); }
}